body{
    background-color: black;
}
a{
    text-decoration: none;
    color: pink;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 1s;
    background-color: red;
}
 
/* aligning center and adding space to the nav lists */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
/* @media only screen and (max-width: 768px) { */
    nav {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }}
    /* @media only screen and (min-width: 768px) { */
        /* nav { */
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
        }
        /* #nav-toggle{ */
            display: block;
        }
        /* nav{ */
            display: none;
        }
      }
#nav-toggle{
    display: none;
}
nav ul{
    text-align: center;
}
nav li{
    display: inline;
    margin-right: 20px;
}
nav li:last :last-child{
    margin-right: 0%;
}
#nav-list{
    display: inline;
    justify-content: center;
    list-style: none; 
    top: 6px;   
} 
/* styling my  header button */
header button{
    display: block;
    float: right;
    top: 2%;
    right: 4%;
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    width: 150px;
    height: 30px;
    border-radius: 29px;
    box-shadow: red;
    cursor: pointer;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    
} 

header button:hover{
    display: block;
    float: right;
    position: fixed;
    top: 2%;
    right: 4%;
    background-color: rgb(29, 15, 15);
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    width: 150px;
    height: 30px;
    border-radius: 29px;
    box-shadow: red;
    cursor: pointer;
    font-weight: bolder;
} 
header button a:hover{
    background-color: black;
}
header button a{
    color: black;
}
#first-header{
    background:black;
    display: flex;
    padding: 1px;

}

#second-header{
    /* background-color: black; */
    
    padding: 20%;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image:url(images/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hue;
    filter: hue-rotate(360deg);
    transition: 3s;
}